html {
    background: url('Pictures/Level\ 1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
    background-position-x: center;
}

.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button1 {​​
    border: none;
    padding: 33px 122px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    background-color: #993366;
    color: white;
    border-radius: 5%;
    position: relative;
    top: 825px;
}​​
  
.button1:hover {​​
    background-color: #4CAF50;
    color: white;
}​​
  
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    position: absolute;
    top: 888px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #993366;
    font-size: 25px;
    color: white;
    border-radius: 5%;
    padding: 33px 122px;
    cursor: pointer;
}

#popUpBox{
    width: 500px;
    overflow: hidden;
    background: lightgrey;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;    
    padding: 10px;
    text-align: center;
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.buttonCircle2{
    position: absolute;
    top: -80px;
    left: 328px;
    transform: translate(-50%, -50%);
    background: none;
    font-size: 25px;
    color: white;
    border-radius: 90%;
    padding: 42px 42px;
    cursor: pointer;
}